<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block MainContent %}
<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">{{object.nom}} {{object.prenom}}</h1>
	<div>
			<img class="rounded-circle" src="{{object.photo}}">
	</div>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Sessions</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Date</th>
							<th>Max Force Gauche</th>
							<th>Max Force Droite</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Date</th>
							<th>Max Force Gauche</th>
							<th>Max Force Droite</th>
						</tr>
					</tfoot>
					<tbody>
							{% for session in sessions %}
						<tr>
								<th>{{session.created}}</th>
								<th>{{session.max_force_left}}</th>
								<th>{{session.max_force_right}}</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}
