<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block MainContent %}
<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">{{object.nom}} {{object.prenom}}</h1>
	<div>
		<img width="200"	class="rounded-circle" src="/media/{{object.photo}}">
	</div>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Sessions</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Coach</th>
							<th>Date</th>
							<th>Max Force Gauche</th>
							<th>Max Force Droite</th>
							<th>Fichier</th>
							<th>Eliminer</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Coach</th>
							<th>Date</th>
							<th>Max Force Gauche</th>
							<th>Max Force Droite</th>
							<th>Fichier</th>
							<th>Eliminer</th>
						</tr>
					</tfoot>
					<tbody>
							{% for session in sessions %}
						<tr>
								<th>{{session.coach}}</th>
							<th><a href="{% url "start_block:DetailSession" session.id %}">{{session.created}} </a></th>
								<th>{{session.max_force_left}}</th>
								<th>{{session.max_force_right}}</th>
								<th><a href="static/data/{{session.data}}.csv">fichier.csv</a></th>
								<td>
									<a href="{% url "start_block:DeleteSession" session.id %}">
										<i class="fas fa-trash"></i>
									</a>
								</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}
{% block Scripts %}
<!-- Page level plugins -->
<script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

<!-- Page level custom scripts -->
<script src="{% static "js/demo/datatables-demo.js" %}"></script>

{% endblock %}
