{% extends "base.html" %}
{% load static %}
{% block MainContent %}
<div class="container-fluid">

	<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
				<div class="row">
						<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
						<div class="col-lg-7">
								<div class="p-5">
										<div class="text-center">
											<h1 class="h4 text-gray-900 mb-4">{{ title }}</h1>
											<img
											src="{% static "img/balma_logo.png" %}"
											width=120
											>
											<br>
											{% if starting_block.connected %}
											Starting Block : Connected
											<br>
											<i class="{{starting_block.icon}}"></i>
											{{ starting_block.charge}}%
											{% endif %}
											<br>
											{% if serial_ports %}
											Temoins connectes <br>
											{% for port in serial_ports %}
											{{ port }}
											<br>
											{% endfor %}
											{% endif %}
										</div>
								</div>
						</div>
				</div>
			</div>
	</div>

{% endblock %}
